[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
networkx = {extras = ["default"], version = "*"}
jax = "*"
jaxlib = "*"
asyncio = "*"
pyodbc = "*"
ipykernel = "*"
pandasql = "*"

[dev-packages]

[requires]
python_version = "3"
